.sign-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/login-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  &__fields {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 400px;
  }
}
